body {
  color: #000000;
}

h1 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;
  text-transform: none;
}

h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}
